target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
%USERPROFILE%

### VS Code ###
.vscode/

### OS Files ###
Thumbs.db
Desktop.ini
.DS_Store
